*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: blanchedalmond;
}
.text{
    background-color: antiquewhite;
    color: black;
}